{{#each vanCity}}
<div class="td_module_10 td_module_wrap td-animation-stack">
    <div class="td-module-thumb">
        <a href="vancity?vanCityId={{id}}" rel="bookmark" title="{{cityNameC}} {{cityNameE}}">
            <img width="218"
                height="150"
                class="entry-thumb td-animation-stack-type0-1"
                src="{{picture}}"
                alt="{{cityNameC}} {{cityNameE}}"
                title="{{cityNameC}} {{cityNameE}} 城市介绍">
        </a>
    </div>
    <div class="item-details">
        <h3 class="entry-title td-module-title">
            <a href="vancity?vanCityId={{id}}" rel="bookmark" title="{{cityNameC}} {{cityNameE}} 城市介绍">
                {{cityNameC}} {{cityNameE}} 城市介绍
            </a>
        </h3>
        <div class="td-module-meta-info">
                        </div>

                        <div class="td-excerpt"><div class="more">{{{description}}}</div></div>
                    </div>

                </div>
{{/each}}
